main.svelte-1c2lq7w {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 2;
    min-height: 50vh;
}
div.svelte-expkgt {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media (min-width: 931px) {
    a.svelte-qtdv9u {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.active.svelte-qtdv9u {
    color: var(--black);
}
@media (min-width: 931px) {
    .nav-items.svelte-1aoyuzy {
        display: none;
    }
}
@media (min-width: 931px) {
    button.svelte-z7a2ag {
        display: none;
    }
}
nav.svelte-tcyliy {
    max-width: 1500px;
}
@media (min-width: 931px) {
    nav.svelte-tcyliy {
        background-color: var(--sand-light);
    }
    .login-wrapper.svelte-tcyliy,
    .nav-items.svelte-tcyliy {
        display: flex;
    }
}
a.svelte-1ivs93t {
    color: var(--dark-grey);
    text-decoration: none;
}
a.svelte-1ivs93t:focus,
a.svelte-1ivs93t:hover {
    color: var(--black);
}
@media (min-width: 56.25rem) {
    footer.svelte-1ivs93t {
        max-width: 56.25rem;
    }
}
@media (max-width: 768px) {
    ul.svelte-1ivs93t {
        margin-bottom: var(--xx-small);
    }
}
@media (max-width: 500px) {
    ul.svelte-1ivs93t {
        flex: 0 0 34%;
    }
}
li.svelte-1ivs93t:first-child {
    font-weight: 600;
    color: var(--black);
}
li.svelte-1ivs93t:not(:last-of-type) {
    margin-bottom: var(--macro);
}
@media (max-width: 340px) {
    .footer__bottom.svelte-1ivs93t {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media (max-width: 340px) {
    .footer__copy.svelte-1ivs93t {
        margin-top: var(--micro);
    }
}
.footer__social-link.svelte-1ivs93t:not(:last-child) {
    margin-right: var(--micro);
}
.top.svelte-1xzd5em {
    top: 0;
}
.bottom.svelte-1xzd5em {
    position: fixed;
    bottom: 0;
    z-index: 10;
}
#svelte-announcer {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
