/**
 * Posts and Plain Pages
 */
.post,
.page {
<<<<<<< HEAD
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
=======
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
}

.post__image,
.post__header,
.page__header {
<<<<<<< HEAD
    margin: 0 0 1.5rem;
=======
  margin: 0 0 1.5rem;
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
}

.post__title,
.page__title {
<<<<<<< HEAD
    margin-top: 0;
=======
  margin-top: 0;
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
}

.post__meta,
.post__footer {
<<<<<<< HEAD
    color: $color-meta;
    font-size: 0.875rem;
}

.post__meta {
    margin-bottom: 0.75rem;
}

.post__footer {
    margin-top: 2.25rem;

    span {
        display: inline-block;
        margin-right: 0.5rem;

        &:before {
            content: '\0023';
        }
    }
}
=======
  color: $color-meta;
  font-size: 0.875rem;
}

.post__meta {
  margin-bottom: 0.75rem;
}

.post__footer {
  margin-top: 2.25rem;

  span {
    display: inline-block;
    margin-right: 0.5rem;

    &:before {
      content: "\0023";
    }
  }
}
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
