/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/

.hljs {
<<<<<<< HEAD
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
=======
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-comment,
.hljs-quote {
<<<<<<< HEAD
  color: #a0a1a7;
  font-style: italic;
=======
    color: #a0a1a7;
    font-style: italic;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
<<<<<<< HEAD
  color: #a626a4;
=======
    color: #a626a4;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
<<<<<<< HEAD
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
=======
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
<<<<<<< HEAD
  color: #50a14f;
=======
    color: #50a14f;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-built_in,
.hljs-class .hljs-title {
<<<<<<< HEAD
  color: #c18401;
=======
    color: #c18401;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
<<<<<<< HEAD
  color: #986801;
=======
    color: #986801;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
<<<<<<< HEAD
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
=======
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
>>>>>>> 65c20ca7f49855a8140174519342a2219d701b05
}
