/**
 * Cards
 */
.card {
<<<<<<< HEAD
    background-color: $color-bg;
    border: 1px solid $color-border;
    border-radius: 3px;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell {
    .card {
        height: 100%;
    }
}

.card__media {
    img {
        display: block;
        width: 100%;
    }

    &:only-child {
        img {
            border-radius: 3px;
        }
    }

    &--top {
        img {
            border-radius: 3px 3px 0 0;
        }
    }

    &--bottom {
        order: 1;

        img {
            border-radius: 0 0 3px 3px;
        }
    }
}

.card__body {
    flex-grow: 1;
    padding: 1.5rem;
=======
  background-color: $color-bg;
  border: 1px solid $color-border;
  border-radius: 3px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cell {
  .card {
    height: 100%;
  }
}

.card__media {
  img {
    display: block;
    width: 100%;
  }

  &:only-child {
    img {
      border-radius: 3px;
    }
  }

  &--top {
    img {
      border-radius: 3px 3px 0 0;
    }
  }

  &--bottom {
    order: 1;

    img {
      border-radius: 0 0 3px 3px;
    }
  }
}

.card__body {
  flex-grow: 1;
  padding: 1.5rem;
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
}

.card__header,
.card__meta,
.card__footer {
<<<<<<< HEAD
    margin-bottom: 1.125rem;
}

.card__title {
    margin-top: 0;
=======
  margin-bottom: 1.125rem;
}

.card__title {
  margin-top: 0;
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
}

.card__meta,
.card__footer {
<<<<<<< HEAD
    color: $color-meta;
    font-size: 0.875em;
    line-height: 1.5;
}

.card__copy {
    & > *:last-child {
        margin-bottom: 1.125rem;
    }
}
=======
  color: $color-meta;
  font-size: 0.875em;
  line-height: 1.5;
}

.card__copy {
  & > *:last-child {
    margin-bottom: 1.125rem;
  }
}
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
