/**
 * Icons
 */
.icon {
<<<<<<< HEAD
    color: inherit;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    height: 1em;
    line-height: 1;
    width: 1em;
}
=======
  color: inherit;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  height: 1em;
  line-height: 1;
  width: 1em;
}
>>>>>>> 2463ce91b0e33baaa31e9d29eef9c2d52887bdf2
