/**
 * Sections
 * ----------------------------------------------------------------------------
 */
 .block:not(.hero-block) {
  background: _palette(bg);
  margin-bottom: 3.75em;

  &:last-child {
    padding-bottom: 1.875em;
  }

  &:first-child {
    padding-top: 3.75em;
  }
}

.block-preview {
  margin-bottom: 1.875em;
}

.block-title {
  font-size: 2.25rem;
  margin: 0 0 1.875rem;
}

.block-text {
  font-size: 1.125rem;
  line-height: 1.66667;
}

.block-cta {
  .button {
    margin: 0 15px 1.875rem;
    white-space: nowrap;
  }
}

/* Hero block */
.hero-block {
  color: #fff;
  padding-bottom: 7.625em;
  padding-top: 3.75em;
  position: relative;
  text-align: center;

  &:last-child {
    padding-bottom: 3.75em;
  }

  .block-content {
    position: relative;
    // width: 700px;
  }

  .block-title {
    color: inherit;
    font-size: 3em;
    margin: 0;

    @media only screen and (max-width: 600px) {
      font-size: 2.25rem;
    }
  }

  .block-text {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0.9375rem 0 0;
  }

  & + .block {
    margin-top: -5em;
    padding-top: 3.75em;
    position: relative;
  }
}

/* Content block */
.text-block {
  text-align: center;

  @media only screen and (min-width: 801px) {
    .block-inside {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -1.5vw;
    }

    .block-preview {
      box-sizing: border-box;
      -webkit-flex: 4;
      -ms-flex: 4;
      flex: 4;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      text-align: left;

      .thumbnail {
        border-radius: 3px;
      }
    }

    .block-content {
      box-sizing: border-box;
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      text-align: left;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 0;
        text-align: center;
      }

      &:not(:only-child) {
        .button {
          margin-left: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 1201px) {
    .block-inside {
      margin-left: -1.125em;
      margin-right: -1.125em;
    }

    .block-preview,
    .block-content {
      padding-left: 1.125em;
      padding-right: 1.125em;
    }
  }
}

/* CTA block */
.cta-block {
  text-align: center;

  @media only screen and (min-width: 641px) {
    padding-bottom: 1.875em;
  }

  .block-outside {
    border-radius: 5px;
    color: #fff;
    padding: 2.5em 5% 1.25em;
  }

  .block-title {
    color: inherit;
    font-size: 1.875rem;
    margin: 0 0 0.5rem;

    &:last-child {
      margin-bottom: 1.875rem;
    }
  }

  @media only screen and (min-width: 801px) {
    .block-inside {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -1.125em;
    }

    .block-content {
      box-sizing: border-box;
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
      padding-left: 1.125em;
      padding-right: 1.125em;
      text-align: left;
    }

    .block-cta {
      box-sizing: border-box;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2;
      padding-left: 1.125em;
      padding-right: 1.125em;
    }
  }
}

/* Features block */
.features-block {
  &:not(.has-header) {
    background: 0;
    padding-top: 0;
  }

  .block-header {
    margin-bottom: 1.875em;
    text-align: center;
  }

  .block-title {
    font-size: 1.875rem;
    margin: 0 0 0.5rem;
  }
}

.docs-block,
.showcase-block {
  margin: -5em 0 3.75em;
  position: relative;

  &:last-child {
    padding-bottom: 1.875em;
  }
}

.block-item-inside {
  background: #fff;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.1);
  margin-bottom: 3vw;
  padding-bottom: 2.5em;
}

.block-item-preview {
  border: 0;
  border-radius: 3px 3px 0 0;
  display: block;

  .thumbnail {
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
}

.block-item-title {
  font-size: 1.5rem;
  margin: 0 0 0.9375rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  a {
    border: 0;
    color: inherit;

    &:hover,
    &:focus {
      color: _palette(meta);
    }
  }
}

.block-item-text {
  margin: 0 0 1.25rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.block-item-cta {
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  a {
    border: 0;
    color: _palette(accent);
  }
}

.block-item-title,
.block-item-text,
.block-item-cta {
  &:last-child {
    margin-bottom: 0;
  }
}

.features-block,
.docs-block {
  .block-item-inside {
    padding-top: 1.875em;
  }
}

.showcase-block {
  .block-item-title {
    font-size: 1.25rem;
    margin: 0;
    padding-top: 1.875em;
  }

  .block-item-title + .block-item-text {
    margin-top: 0.5rem;
  }

  .block-item-preview + .block-item-title,
  .block-item-preview + .block-item-text {
    padding-top: 1.25em;
  }
}

@media only screen and (min-width: 641px) {
  .block-items {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1.5vw;
    margin-right: -1.5vw;
  }

  .block-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .block-item-inside {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .showcase-block,
  .docs-block {
    .block-item {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
  }

  .features-block {
    .block-item {
      -webkit-flex: 1 1 280px;
      -ms-flex: 1 1 280px;
      flex: 1 1 280px;
      margin-left: auto;
      margin-right: auto;
      max-width: 680px;
    }
  }

  .features-block {
    .block-item {
      -webkit-flex: 1 1 274px;
      -ms-flex: 1 1 274px;
      flex: 1 1 274px;
      margin-left: auto;
      margin-right: auto;
      max-width: 680px;

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .block-item,
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .block-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
      }
    }
  }
}

@media only screen and (min-width: 861px) {
  .showcase-block,
  .docs-block {
    .block-item {
      -webkit-flex: 0 0 33.333%;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
    }
  }
}

@media only screen and (min-width: 1101px) {
  .features-block {
    .block-item {
      -webkit-flex: 1 1 340px;
      -ms-flex: 1 1 340px;
      flex: 1 1 340px;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .block-items {
    margin-left: -1.125em;
    margin-right: -1.125em;
  }

  .block-item-inside {
    margin-bottom: 2.25em;
    margin-left: 1.125em;
    margin-right: 1.125em;
  }
}
