.button {
  -ms-flex-align: center;
  align-items: center;
  background: $color-primary;
  border: 0;
  border-radius: 1.75em;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.875em;
  font-weight: bold;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.035em;
  line-height: 1.2;
  opacity: 1;
  padding: 0.9em 2.14285em;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  vertical-align: middle;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    opacity: 0.8;
    outline: 0;
  }
}

.button-secondary {
  background: 0 !important;
  box-shadow: inset 0 0 0 2px currentColor;
  color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 0 0 3px currentColor;
    color: $color-primary;
    opacity: 1;
  }
}

.button-icon {
  background: 0 !important;
  border: 0;
  color: inherit;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: normal;
  padding: 0.25em;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
    opacity: 1;
  }
}

#menu-open,
#menu-close,
.docs-nav .docs-nav-toggle,
.docs-nav .docs-submenu-toggle,
.submenu-toggle {
  background: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }
}
