label {
  color: $gray-700;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.25em;

  input[type="checkbox"] + &,
  input[type="radio"] + & {
    font-weight: normal;
    cursor: pointer;
    padding-left: 0.25em;
    padding-right: 1em;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid $gray-300;
  border-radius: $border-radius-sm;
  box-shadow: none;
  box-sizing: border-box;
  color: $gray-700;
  display: block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

::placeholder {
  color: $gray-400;
  opacity: 1;
}

.form-row {
  margin-bottom: 1em;
}

.form-submit {
  margin-top: 1.66667em;
}
