html {
    font-family: $font-primary;
    font-size: 100%;
}

body {
    background: $gray-100;
    color: $gray-600;
    line-height: 1.625;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

html {
    --base-size: 16;

    --background: rgb(11, 11, 25);
    --foreground: rgb(232, 232, 234);

    --background-opaque: rgba(11, 11, 25, 0.9);


    --link: rgb(92, 133, 255);
    --link-visited: rgb(87, 117, 233);

    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    --shade-400: rgb(62, 62, 62);
    --shade-500: rgb(124, 124, 124);
    --shade-600: rgb(135, 138, 140);
    --shade-700: rgb(173, 178, 181);
    --shade-800: rgb(230, 230, 230);
    --shade-900: rgb(240, 240, 240);

    --primary-500: rgb(73, 203, 92);

    --shadow: rgba(0, 0, 0, 0.15);
    --box-shadow: 0 2px 5px var(--shadow);

    --border-radius-s: calc(8 / var(--base-size) * 1rem);
    /* 8px; */
    --border-radius-m: calc(20 / var(--base-size) * 1rem);
    /* 20px; */
    --border-radius-l: calc(40 / var(--base-size) * 1rem);
    /* 40px; */

    --spacing-xs: calc(4 / var(--base-size) * 1rem);
    /* 4px; */
    --spacing-s: calc(6 / var(--base-size) * 1rem);
    /* 6px; */
    --spacing-sm: calc(8 / var(--base-size) * 1rem);
    /* 8px; */
    --spacing-m: calc(12 / var(--base-size) * 1rem);
    /* 12px; */
    --spacing-l: calc(18 / var(--base-size) * 1rem);
    /* 18px; */
    --spacing-xl: calc(30 / var(--base-size) * 1rem);
    /* 30px; */
    --spacing-xxl: calc(40 / var(--base-size) * 1rem);
    /* 40px; */
    --spacing-xxxl: calc(80 / var(--base-size) * 1rem);
    /* 80px; */

    --font-size-s: calc(12 / var(--base-size) * 1rem);
    --font-size-m: calc(14 / var(--base-size) * 1rem);
    --font-size-l: calc(16 / var(--base-size) * 1rem);
    --font-size-xl: calc(20 / var(--base-size) * 1rem);

    --font-family: 'Rubik', sans-serif;

    --focus-outline: 5px auto rgb(77, 144, 254);

    font-size: calc(var(--base-size, 16) * 1px);
    font-family: var(--font-family);
    background: var(--background);
    color: var(--foreground);
    touch-action: manipulation;
}

body {
    margin: 0;
    line-height: 1.2;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

a {
    color: $color-primary;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.125em;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;

    &:hover {
        color: $gray-600;
    }
}

a {
    color: currentColor;
}

a:focus {
    outline: transparent;
    outline-style: solid;
    border-radius: 0.125em;
    box-shadow: var(--color-bg) 0 0 0 0.125rem, var(--color-teal-T600) 0 0 0 0.375rem;
    transition: box-shadow 0.2s ease-in-out;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-L300);
    border: none;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

h1 {
    margin-bottom: 2rem;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-bold);
    font-size: 3rem;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-bold);
    font-size: 2.2rem;
}

h3 {
    margin-bottom: 1.5rem;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-bold);
    font-size: 1.4rem;
}

h4,
h5,
h6 {
    margin-bottom: 1.5rem;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-bold);
    font-size: 1.4rem;
}

p {
    margin-bottom: 1.5rem;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-normal);
}

ol,
ul {
    margin: 2rem 1.5rem;
}

li {
    margin-bottom: 1rem;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-normal);
    /* font-size: 1.5rem; */
}

pre {
    color: var(--color-bg);
    background: #33373b;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

p code {
    background-color: var(--color-gray-L300);
    border-radius: 4px;
    padding: 0.2em 0.3em;
    font-size: 0.8em;
}

pre code {
    display: block;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 1em;
    padding: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $gray-700;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.5em 0 0.5em;
    text-rendering: optimizeLegibility;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 1em;
}

mark,
ins {
    background: $yellow-pale;
    color: $gray-700;
    padding: 0.15em;
    text-decoration: none;
}

pre {
    background: $gray-700;
    border-radius: $border-radius-sm;
    color: $gray-100;
    font-size: 0.875em;
    line-height: 1.5;
    margin: 2.14286em 0;
    overflow: auto;
    padding: 1.5em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    &:first-child {
        margin-top: 0;
    }
}

:not(pre)>code {
    background: $gray-200;
    border-radius: $border-radius-sm;
    color: $gray-600;
    font-size: 0.875rem;
    padding: 0.15em;
    white-space: normal;
}

blockquote {
    border-left: 5px solid $color-primary;
    font-size: 1.25em;
    line-height: 1.4;
    margin: 1.25em 0;
    padding: 0 0 0 1em;

    &:first-child {
        margin-top: 0;
    }

    p {
        margin-bottom: 0.5em;
    }

    small,
    cite {
        color: $gray-500;
        display: block;
        font-size: 0.75em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.5;
        margin-top: 0.5em;
    }
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

ul,
ol,
dd {
    margin: 0 0 1em;
}

ul {
    list-style: disc;
    padding: 0 0 0 1.125em;
}

ol {
    list-style: decimal;
    padding: 0 0 0 1.5em;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

hr {
    background-color: $gray-300;
    border: 0;
    height: 1px;
    margin: 1.875em 0;

    &:first-child {
        margin-top: 0;
    }
}

embed,
iframe,
object,
video {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 641px) {
    blockquote {
        font-size: 1.5em;
        line-height: 1.3;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.125em;
    }

    h3 {
        font-size: 1.875em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    h6 {
        font-size: 1.125em;
    }
}