body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: #ecf0f1;
}
a,
a:visited,
a:link,
a:hover,
a:active {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



#----------------------------------------prism--------------------------------------------------#

code[class*="language-"],
pre[class*="language-"] {
	color: white;
	direction: ltr;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	text-align: left;
	text-shadow: 0 -.1em .2em black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: hsl(0, 0%, 8%); /* #141414 */
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: .5em;
	border: .3em solid hsl(0, 0%, 33%); /* #282A2B */
	box-shadow: 1px 1px .5em black inset;
	margin: .5em 0;
	overflow: auto;
	padding: 1em;
}

pre[class*="language-"]::selection {
	/* Safari */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

pre[class*="language-"]::selection {
	/* Firefox */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	border: .13em solid hsl(0, 0%, 33%); /* #545454 */
	box-shadow: 1px 1px .3em -.1em black inset;
	padding: .15em .2em .05em;
}



#------------------------------------------------------------------------------------------#

html {
    font-family: $font-primary;
    font-size: 110%;
}

body {
  background: $gray-100;
  color: $gray-600;
    line-height: 1.625;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
}
#search {
    z-index: -1;
}
a {
  color: $color-primary;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.125em;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  &:hover {
    color: $gray-600;
  }
}
iframe {
    overflow-y: scroll;
    overflow-x: scroll;
    border-radius: 12px;
    border: 2px solid gold;
    height: 1200px !important;
    width: 100%;
    resize: both;
    overflow: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-700;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5em 0 0.5em;
  text-rendering: optimizeLegibility;

  &:first-child {
    margin-top: 0;
  }
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}
h2 {
  margin-top: 3.236rem;
}
li {
  line-height: 2em;
}

p {
  margin: 0 0 1em;
}

mark,
ins {
    background: $yellow-pale;
    color: $gray-700;
    padding: 0.15em;
    text-decoration: none;
}

pre {
    background: $gray-700;
    border-radius: $border-radius-sm;
    color: $gray-100;
    font-size: 0.875em;
    line-height: 1.5;
    margin: 1.14286em 0;
    overflow: auto;
    padding: 1.5em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    &:first-child {
        margin-top: 0;
    }
}
code[class*='language-'],
pre[class*='language-'] {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

:not(pre) > code[class*='language-'] {
    background: $gray-700;
    color: $gray-100;
}


:not(pre) > code {
    background: $gray-200;
    border-radius: $border-radius-sm;
    color: $gray-600;
    font-size: 0.875rem;
    padding: 0.15em;
    white-space: normal;
}

blockquote {
    border-left: 5px solid $color-primary;
    font-size: 1.25em;
    line-height: 1.4;
    margin: 1.25em 0;
    padding: 0 0 0 1em;

    &:first-child {
        margin-top: 0;
    }

    p {
        margin-bottom: 0.5em;
    }

    small,
    cite {
        color: $gray-500;
        display: block;
        font-size: 0.75em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.5;
        margin-top: 0.5em;
    }
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
}

ul,
ol,
dd {
    margin: 0 0 1em;
}

ul {
    list-style: disc;
    padding: 0 0 0 1.125em;
}

ol {
    list-style: decimal;
    padding: 0 0 0 1.5em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

hr {
    background-color: $gray-300;
    border: 0;
    height: 1px;
    margin: 1.875em 0;

    &:first-child {
        margin-top: 0;
    }
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

@media only screen and (min-width: 841px) {
    blockquote {
        font-size: 1.5em;
        line-height: 1.3;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.125em;
    }

    h3 {
        font-size: 1.875em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    h6 {
        font-size: 1.125em;
    }
}

.gcse-search {
    width: 30%;
    height: 50%;
}
