/**
 * Site Header
 * ----------------------------------------------------------------------------
 */
 .site-header {
  background: #fff;
  padding-bottom: 1.25em;
  padding-top: 1.125em;
}

.site-header-inside {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.site-branding {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;

  a {
    border: 0;
    color: inherit;
    display: inline-block;
  }
}

.site-title {
  color: _palette(secondary);
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.site-logo {
  margin: 0;
}

.site-navigation {
  margin-left: auto;

  .menu,
  .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    color: _palette(meta);
    font-size: 0.875rem;
    line-height: 1.5;
    position: relative;

    &.current {
      color: _palette(accent);
    }
  }

  a {
    border: 0;
    color: inherit;
    display: inline-block;
    padding: 0.625rem 0;

    &:hover,
    &:focus {
      color: _palette(accent);
    }
  }
}

.menu-toggle {
  display: none;
}

@media only screen and (min-width: 801px) {
  .site-navigation {
    .menu-item {
      display: inline-block;
      margin: 0 0 0 30px;

      &.has-children > a {
        padding-right: 15px;
        position: relative;

        &:after {
          background: 0;
          border-color: currentColor;
          border-style: solid;
          border-width: 1px 1px 0 0;
          box-sizing: border-box;
          content: "";
          height: 6px;
          position: absolute;
          right: 0;
          top: 50%;
          width: 6px;
          -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
        }
      }

      &.has-children:hover > .submenu {
        opacity: 1;
        -webkit-transition: margin .3s, opacity .2s;
        transition: margin .3s, opacity .2s;
        visibility: visible;
      }
    }

    .submenu {
      background: #fff;
      border: 1px solid _palette(border);
      border-radius: 3px;
      left: -15px;
      opacity: 0;
      padding: 0.5rem 0;
      position: absolute;
      text-align: left;
      top: 100%;
      -webkit-transition: opacity .2s, visibility 0s .2s;
      transition: opacity .2s, visibility 0s .2s;
      visibility: hidden;
      width: 160px;
      z-index: 99;

      .submenu {
        left: 100%;
        margin-top: -0.5rem;
        position: absolute;
        top: -1px;
      }

      .menu-item {
        display: block;
        margin: 0;
        padding: 0 15px;

        &.has-children > a:after {
          -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
        }
      }

      a {
        display: block;
        padding: 0.5rem 0;
      }
    }

    .submenu-toggle {
      display: none;
    }

    
  }
}

@media only screen and (max-width: 800px) {
  .site {
    overflow: hidden;
    position: relative;
  }

  .site-header:before {
    background: rgba(_palette(primary),.6);
    content: "";
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity .15s ease-in-out,visibility 0s ease-in-out .15s;
    transition: opacity .15s ease-in-out,visibility 0s ease-in-out .15s;
    visibility: hidden;
    width: 100%;
    z-index: 998;
  }

  #menu-open {
    display: block;
    margin-left: auto;
  }

  .site-navigation {
    background: #fff;
    box-sizing: border-box;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: -360px;
    top: 0;
    -webkit-transition: right .3s ease-in-out, visibility 0s .3s ease-in-out;
    transition: right .3s ease-in-out, visibility 0s .3s ease-in-out;
    visibility: hidden;
    width: 360px;
    z-index: 999;

    .menu {
      padding: 4.5rem 4vw 3rem;
    }

    .submenu {
      border-top: 1px solid _palette(border);
      display: none;
      padding-left: 15px;

      &.active {
        display: block;
      }
    }

    .submenu-toggle {
      background: 0;
      border: 0;
      border-radius: 0;
      color: _palette(meta);
      display: block;
      height: 45px;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;

      &.active .icon-angle-right {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }

    .menu-item {
      border-bottom: 1px solid _palette(border);
      display: block;
      margin: 0;

      &:first-child {
        border-top: 1px solid _palette(border);
      }

      .menu-item {
        &:last-child {
          border: 0;
        }

        &:first-child {
          border-top: 0;
        }
      }

      &.has-children > a {
        margin-right: 40px;
      }
    }

    a {
      display: block;
      padding: 0.75rem 0;
    }

    #menu-close {
      display: block;
      position: absolute;
      right: 4vw;
      top: 1.125rem;
    }
  }

  .site-nav-inside {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .menu--opened {
    .site {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 100%;
      z-index: 997;
    }

    .site-navigation {
      right: 0;
      -webkit-transition: right .3s ease-in-out;
      transition: right .3s ease-in-out;
      visibility: visible;
    }

    .site-header:before {
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 360px) {
  #menu-open {
    display: block;
    margin-left: auto;
  }

  .site-navigation {
    width: 100%;
  }
}