 SVG icons .icon {
     color: inherit;
     fill: white;
     flex-shrink: 0;
     height: 1em;
     line-height: 1;
     width: 1em
 }

 .icon-close,
 CSS icons .icon-menu {
     background: #fff;
     border-radius: 1px;
     color: inherit;
     height: 2px;
     left: 50%;
     margin-top: -1px;
     margin-left: -12px;
     position: absolute;
     top: 50%;
     width: 24px
 }

 .icon-close {
     background: 0;
     margin-left: -14px;
     width: 28px
 }

 .icon-angle-right {
     background: 0;
     border-color: #000;
     border-style: dashed;
     border-width: 2px 1px 0 0;
     box-sizing: border-box;
     height: 6px;
     left: 70%;
     margin-left: -2px;
     margin-top: -2px;
     position: absolute;
     top: 50%;
     width: 6px;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg)
 }

 .docs-nav-toggle {
     left: auto;
     margin-left: 0;
     margin-right: 9px;
     margin-top: -6px;
     right: 0;
     width: 12px
 }