@each $palette in map-keys($theme-palettes) {
  $palette-suffix: "#{$palette}";
  $color-primary: map-deep-get($theme-palettes, $palette, "primary");
  $color-secondary: map-deep-get($theme-palettes, $palette, "secondary");

  .palette-#{$palette-suffix} {
    a:not(.button) {
      color: $color-primary;

      &:hover {
        color: $gray-600;
      }
    }

    blockquote {
      border-color: $color-primary;
    }

    .line-left:after,
    .button {
      background: $color-primary;
    }

    .has-gradient {
      background: $color-primary;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from($color-secondary),
        to($color-primary)
      );
      background: linear-gradient(to right, $color-secondary, $color-primary);
    }

    .button-secondary,
    .button-icon:hover,
    .button-icon:focus,
    .button-icon:active,
    .has-gradient .button:not(.button-secondary),
    .menu-item.current,
    #masthead a:not(.button):hover,
    #colophon a:not(.button):hover,
    .post.type-docs .hash-link:hover,
    .post.type-docs .hash-link:focus,
    #docs-menu a:hover,
    #docs-menu .current,
    #docs-menu .current-parent,
    #page-nav li.active > a,
    #page-nav a:hover {
      color: $color-primary;
    }

    #docs-section-items {
      .docs-item-link {
        &:hover {
          border-color: $color-primary;
          color: $color-primary;
        }
      }
    }
  }
}
