/**
 * Palettes
 */
.palette-blue {
    a,
    blockquote,
    .site-title a,
    .site-title a:hover,
    .social-links .button-circle:hover {
        border-color: _palette(accent-blue);
    }

    a:hover {
        border-color: currentColor;
    }

    .button-circle {
        border-color: _palette(meta);
    }
}

.palette-green {
    a,
    blockquote,
    .site-title a,
    .site-title a:hover,
    .social-links .button-circle:hover {
        border-color: _palette(accent-green);
    }

    a:hover {
        border-color: currentColor;
    }

    .button-circle {
        border-color: _palette(meta);
    }
}

.palette-red {
    a,
    blockquote,
    .site-title a,
    .site-title a:hover,
    .social-links .button-circle:hover {
        border-color: _palette(accent-red);
    }

    a:hover {
        border-color: currentColor;
    }

    .button-circle {
        border-color: _palette(meta);
    }
}
