/**
 * Posts and Pages
 */
.post {
    margin-bottom: 2.5em;
}

.post-header {
    margin-bottom: 1.66667em;
}

.post-title {
    margin-bottom: 0.66667rem;

    a {
        border: 0;
        color: inherit;

        &:hover {
            color: _palette(primary);
        }
    }
}

.post-meta {
    color: _palette(meta);
    font-size: 0.88889rem;
}

.post-thumbnail {
    border: 0;
    display: block;
    margin-bottom: 2.5em;

    img {
        width: 100%;
    }
}

.post-subtitle {
    color: _palette(secondary);
    font-size: 1.33333rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.post-content {
    max-width: 1200px;

    iframe[src*='vimeo.com'],
    iframe[src*='youtube.com'] {
        display: block;
        margin-bottom: 1.66667rem;
        margin-top: 1.66667rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

.read-more-link {
    color: _palette(secondary);
    display: inline-block;
    font-size: 0.88889rem;
    font-weight: bold;
    padding: 0.3em 24px 0.3em 0;
    position: relative;

    .icon-arrow-right {
        left: auto;
        margin-left: 0;
        margin-right: 2px;
        right: 0;
    }
}

.post-feed {
    .post {
        border-bottom: 1px dashed _palette(border);
        padding-bottom: 0.83333em;

        &:last-child {
            border: 0;
            padding-bottom: 0;
        }
    }

    .post-header,
    .post-thumbnail {
        margin-bottom: 1.66667em;
    }

    .post-title {
        font-size: 1.66667rem;
    }

    .post-meta {
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) {
    .post {
        margin-bottom: 3.33333em;
    }

    .post-header {
        margin-bottom: 2.5em;
    }

    .post-feed {
        .post {
            padding-bottom: 1.66667em;
        }
    }
}
