.block {
    padding-top: 3.75em;
}

.block-header,
.block-image {
    margin-bottom: 1.5em;
}

.block-title {
    margin: 0;
}

.block-subtitle {
    color: $gray-500;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 1.125em;
}

.block-buttons,
.grid-item-buttons {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.9375em;
    text-decoration: none;
}

.block-header {
    -ms-flex: 0 0 66.666%;
    flex: 0 0 66.666%;
    max-width: 66.666%;
    margin-bottom: 2em;
    text-align: center;
}

.block-buttons {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    margin-top: 0;
    max-width: 33.333%;
}

.grid-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.875em;
}

.grid-item-image {
    border-radius: $border-radius-sm $border-radius-sm 0 0;
    display: block;
    width: 100%;
}

.grid-item-buttons {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.grid-item-content {
    margin-bottom: 1.25em;
}

.block-title {
    font-size: 2.25em;
}

.block-content {
    line-height: 1.5;
    font-size: 1.25em;
}

&+.block {
    margin-top: -5em;
    position: relative;
}