.site {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 110vh;
  position: relative;
}

.site-content {
    box-sizing: border-box;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    resize: both;
}

.outer {
    padding-left: 100px;
    padding-right: 100px;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
}

.inner-md {
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
}

.inner-sm {
    margin-left: auto;
    margin-right: auto;
    max-width: 98%;
}
