/**
 * Structure
 * ----------------------------------------------------------------------------
 */
.outer {
  padding-left: 3vw;
  padding-right: 3vw;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.inner-medium {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.inner-small {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
}

.site {
  position: relative;
}