/**
 * Structure
 */
.site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.inner {
    max-width: 1200px;
}

img {
    border: 3px solid black;
}

.site-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 2.5em 4vw 1.66667em;

    @media only screen and (min-width: 801px) {
        margin-left: 30vw;
    }

    @media only screen and (min-width: 1091px) {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    @media only screen and (min-width: 1501px) {
        margin-left: 450px;
        padding-left: 130px;
        padding-right: 130px;
    }
}

.site-main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 1.66667em;
}
