.site {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.site-content {
    box-sizing: border-box;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

.outer {
    padding-left: 120px;
    padding-right:120px;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.inner-md {
    margin-left: auto;
    margin-right: auto;
     max-width: 95%;
}

.inner-sm {
    margin-left: auto;
    margin-right: auto;
 max-width: 95%;
}
