// Fonts
$font-primary: 'Lato',
Helvetica,
Arial,
sans-serif !default;
$font-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
monospace !default;

// Colors
$color-primary: #00c6ff !default;
$color-secondary: #0072ff !default;

$gray-100: #f8f8fa !default;
$gray-200: #ecedf2 !default;
$gray-300: #dde0e7 !default;
$gray-400: #9aa4b9 !default;
$gray-500: #67758d !default;
$gray-600: #424b5f !default;
$gray-700: #283040 !default;

$red: #fc381d !default;
$red-pale: #ffe9e6 !default;
$yellow: #fcb41d !default;
$yellow-pale: #fff7e6 !default;

// Border radius
$border-radius: 5px;
$border-radius-sm: 3px;

// Box shadow
$box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);

// Container max width
$container: 1200px !default;
$container-sm: 680px !default;
$container-md: 800px !default;

// Container padding
$container-padding: 3vw !default;

// Grid gap
$grid-gap: 1.875em !default;

// Alternative theme palettes
$theme-palettes: (green: (primary: #20c86e,
        secondary: #1ba65b),
    navy: (primary: #1b2024,
        secondary: #000428),
    violet: (primary: #8e2de2,
        secondary: #4a00e0));


// VARIABLES

// Colors
$primary: black;
$radius: 4px;
$line-speed: 1s;
$line-easing: cubic-bezier(0.65, 0.05, 0.36, 1);

// Pastel Colors
$pastel-green: #58B3B2;
$pastel-pink: #E0B0C2;
$pastel-orange: #E19C7D;

// COLORS
$navy: #2c3e50;
$pink: #DA5269;
$black-pearl: #1F2529;
$blue: #0087ff;
$deep-blue: #373F81;
$gradient: #0060FF,
#0031FF;
$light-grey: #ADB1BF;
$border-grey: #eeeeee;
$text-grey: darken(#9BA0B1, 10%);
$dark: #323B46;
$bg-grey: rgb(246, 246, 249);
$background: white;
$menu-links: $light-grey;
$green: #1abc9c;
$blue-gradient: (#005FFF, 0.09, #0031FF, 0.5);


// Nav
$nav-width: 270px;
$nav-color: black;
$nav-easing: cubic-bezier(0.6, 0, 0.2, 1);
$nav-timing: 0.6s;
$nav-delay: 1s;

// Devices
$xs-device: 767px;
$sm-device: 768px;
$md-device: 992px;
$lg-device: 1200px;

// Projects
$overlay-opacity: 0.6;


// MIXINS
@mixin logo-font {
    font-family: $logo-font, sans-serif;
}

@mixin primary-gradient {
    background-image: linear-gradient(-45deg,
            nth($gradient, 1),
            nth($gradient, 2));
}

@mixin xs-device {
    @media (max-width: $xs-device) {
        @content;
    }
}

/// Target small devices
@mixin sm-device {
    @media (min-width: $sm-device) and (max-width: $md-device) {
        @content;
    }
}

/// Target medium size devices
@mixin md-device {
    @media (min-width: $md-device) and (max-width: $lg-device) {
        @content;
    }
}

/// Target large devices
@mixin lg-device {
    @media (min-width: $lg-device) {
        @content;
    }
}

/// Target multiple devices at once
@mixin devices($xs: false, $sm: false, $md: false, $lg: false) {
    @if $xs==true {
        @include xs-device {
            @content;
        }
    }

    @if $sm==true {
        @include sm-device {
            @content;
        }
    }

    @if $md==true {
        @include md-device {
            @content;
        }
    }

    @if $lg==true {
        @include lg-device {
            @content;
        }
    }
}

@mixin createAnimation($name) {
    .#{$name} {
        animation-name: $name;
        animation-duration: 0.75s;
        animation-timing-function: $nav-easing;
        animation-fill-mode: both;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 200px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@include createAnimation(fadeIn);
@include createAnimation(fadeInUp);