# This is a basic workflow that is manually triggered
name: Gatsby Publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: enriikke/gatsby-gh-pages-action@v2
        with:
          access-token: ${{ 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 }}
